<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Love Map</title>
        <link rel="icon" href="../images/heart_icon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="../static/styles.css"></style>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    </head>
    <body>
        <h1>Our Love Map</h1>
        <div class="container">
            <div class="map" id="mapid"></div>
        </div>
        <h4>
            I will give you me<br>
            And we'll be<br>
            Us 
        </h4>

        <script src="../static/main.js"></script>
    </body>
</html>
